@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #202225;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 1024px) {
    .smallScreen-nav {
        display: none;
    }
}

@media (max-width: 1024px) {
    .largeScreen-nav {
        display: none;
    }
}